.box{
    border: 3px solid purple;
    padding: 40px;
    /* padding: 20px; */
    margin: auto;
    align-items: center;
    margin-top: 40px;
    border-radius: 25px;
    background-color: aliceblue;
    color:red
}

